<div class="block notice">
  <h3>Interne Daten</h3>
  <div class="content">
    <h4>Kommentar</h4>
    <p><%= @buch.kommentar %></p>
    <h4>Interne Notizen</h4>
    <p><%= @buch.interne_notizen %></p>
  </div>
</div>

<% if @buch.entliehen? then %>
  <div class="block notice">
    <h3>Verleihdaten</h3>
    <div class="content">  
    <h4>Entleiher</h4>
    <p><%= link_to @buch.current_lending.entleiher.name, @buch.current_lending.entleiher %></p>
    <h4>Entliehen bis</h4>
    <p><%= @buch.current_lending.leihende %></p>
    
    </div>
  </div>
<% end %>
